* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Karla', sans-serif;
}

.content {
  max-width: 550px;
  padding: 40px;
  margin: 40px auto;
}

.content > h1 {
  margin: 0 0 20px 0;
  font-family: 'Cookie', monospace;
  font-size: 60px;
}

.content > p {
  line-height: 1.7;
  margin: 0;
}

.content > p > a {
  color: black;
  font-weight: 700;
}

.content > p > a:hover {
  background-color: #ffe0b2;
}

// now write some styles for hover content

.hover-content {
  padding: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #fff;
  width: 240px;
  // basic styles
}

.hover-content > img {
  max-width: 100%;
  margin-bottom: 10px;
}

.hover-content > p {
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
}

// lets move to JS


